html, 
body {
    
}

#title {
    background-color: #466676;
    color: #FFF;
}   

#sub-title {
   background-color: #6A8D9D; 
   color: #FFF;
}

#main {
    margin-top: 50px;
}

h4 {
color: #616161;
}

